<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.user.dao.IBlacklistDAO">
	<resultMap id="blacklist_DB_Result" type="blacklist">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="type" property="type" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_blacklist" parameterType="blacklist" resultMap="blacklist_DB_Result">
		SELECT
		t.id
		,t.user_id
		,t.type
		,t.status
		,t.create_datetime
		,t.updater
		,t.update_datetime
		,t.remark
		,t.system_code
		FROM
		tstd_blacklist t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_blacklist_count" parameterType="blacklist"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_blacklist t
		<include refid="where_condition" />
	</select>

	<insert id="insert_blacklist" parameterType="blacklist" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		tstd_blacklist(
		user_id
		,type
		,status
		,create_datetime
		,remark
		,system_code
		)
		VALUES(
		#{userId}
		,#{type}
		,#{status}
		,#{createDatetime}
		,#{remark}
		,#{systemCode}
		)
	</insert>

	<delete id="delete_blacklist" parameterType="blacklist">
		UPDATE tstd_blacklist
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE id = #{id}
	</delete>


</mapper>